<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Add A button which says 'Display Details'</li>
        <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
        <li>Toggle the displaying of that paragraph with the button created in the first step</li>
        <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or
          simply an incrementing number)
        </li>
        <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color
          (ngClass)
        </li>
      </ol>
    </div>
  </div>
</div>
<hr>


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button type="button" class="btn btn-success" (click)="onBtnClick()">Display Details</button>
    </div>

    <div class="col-xs-12 row-margin" *ngIf="btnNotClicked; else elseBlock">
      <p>
        IF CONDITION - Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
    </div>

    <ng-template #elseBlock>
      <div class="col-xs-12 row-margin">
        <p>
          ELSE CONDITION - Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make
          a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
          containing
          Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
          versions
          of Lorem Ipsum.
        </p>
      </div>
    </ng-template>

    <div *ngFor="let val of clicks; let i = index">
      <div [ngStyle]="{backgroundColor: i > 4 ? 'pink': 'transparent'}"
      [ngClass]="{'font-color': i > 4 }">{{val}} {{i}} </div>
    </div>

  </div>
</div>

