<div class="row">
  <div class="col-xs-12">
      <div class="form-row col-md-12 form-input-align">
        <div class="form-group col-md-6">
          <label for="ingredientName" class="col-form-label">Name</label>
          <input type="text" class="form-control" id="ingredientName" placeholder="Enter a name" #ingredientName>
        </div>
      </div>

      <div class="form-row col-md-12 form-input-align">
        <div class="form-group col-md-6">
          <label for="ingredientAmount">Amount</label>
          <input type="number" class="form-control col" id="ingredientAmount" placeholder="Enter an amount" #ingredientAmount>
        </div>
      </div>

      <div class="form-row col-md-12 form-input-align">
        <div class="form-group col-md-6">
          <button class="btn btn-success" (click)="onAddIngredient()">Add</button>
          <button class="btn btn-danger">Delete</button>
          <button class="btn btn-primary">Clear</button>
        </div>
      </div>
  </div>
</div>

